@using SystemeLocation.Models.Location;
@using SystemeLocation.Entities;

@model IEnumerable<LocationManageVM>

@{
    ViewData["Title"] = "Manage Rentals";
    var lstOngoing = Model.Where(l => l.Status == StatutLocation.Ouvert);
    var lstPast = Model.Where(l => l.Status == StatutLocation.Fermé);
}

<h1>Rentals list</h1>

<div class="mt-2 mb-2">
    @Html.ActionLink("Back", "Manage", "Succursale", new { }, new { @class = "btn btn-secondary" })
    @if (@ViewBag.succursaleIsActive)
    {
        @Html.ActionLink("Create", "Create", new { succursaleId = @ViewBag.succursaleId }, new { @class = "btn btn-primary" })
    }
</div>

<h2 class="mt-2">Ongoing Rentals</h2>

<table class="table mb-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Driver_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoitureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannedClosingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElapsedTimeStart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstOngoing)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Driver_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoitureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannedClosingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElapsedTimeStart) days
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { locationId = item.LocationId, succursaleId = @ViewBag.succursaleId }, new { @class = "btn btn-primary" })
                    @if (@ViewBag.succursaleIsActive)
                    {
                        @Html.ActionLink("Close", "Close", new { locationId = item.LocationId, succursaleId = @ViewBag.succursaleId }, new { @class = "btn btn-danger" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<h2 class="mt-2">Past Rentals</h2>

<table class="table mb-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Driver_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoitureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannedClosingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElapsedTimeEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstPast)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Driver_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoitureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannedClosingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElapsedTimeEnd) days
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { locationId = item.LocationId, succursaleId = @ViewBag.succursaleId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            $('.status-button').click(function (event) {
                const name = $(this).data('name') || "this item";
                const message = `Are you sure you want to change ${name}'s status?`;

                if (!confirm(message)) {
                    event.stopPropagation();
                    return false;
                }
            });
        });
    </script>
}