@using SystemeLocation.Models.Utilisateur

@model IEnumerable<UtilisateurManageVM>

@{
    ViewData["Title"] = "Manage Users";
    @Html.AntiForgeryToken()
}

<h1>Users list</h1>

<div class="mt-2 mb-2">
    @Html.ActionLink("Create", "Create",
    new { }, new { @class = "btn btn-primary" })
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Reset Password", "EditPassword", new { id = item.Id }, new { @class = "btn btn-secondary" })
                    @if (User.Identity.Name != item.UserName)
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger delete-button", data_name = item.UserName })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            $('.delete-button').click(function (event) {
                const name = $(this).data('name') || "this item";
                const message = `Are you sure you want to delete ${name}?`;

                if (!confirm(message)) {
                    event.stopPropagation();
                    return false;
                }
            });
        });
    </script>
}